<html>
    <head>
        {% if title %}
        <title>{{ title }} - Task Manager</title>
        {% else %}
        <title>Welcome to Task Manager</title>
        {% endif %}
    </head>
    <body>
        <div>
            Task Manager:
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
	    <a href="{{ url_for('createtask') }}">Create Task</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
